<div class="container">
  <div class="row justify-content-md-center">
    <form class="form-signin">
      <br>
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in to Nest Egg</h1>
      <div class="social-login">
        <button type="button" class="btn btn-primary" (click)="tryFacebookLogin()">Sign in with Facebook
        </button>
        <button type="button" class="btn btn-danger" (click)="tryGoogleLogin()" disabled>Sign in with Google
        </button>
      </div>
      <p style="text-align:center"> OR </p>
      <input type="email" class="form-control" placeholder="Email address" disabled>
      <input type="password" class="form-control" placeholder="Password" disabled>

      <button class="btn btn-success btn-block" type="submit" disabled>Sign in</button>
      <a href="#" disabled>Forgot password?</a>
      <hr>
      <p style="text-align:center" href="#" disabled>New to Nest Egg? <a href="#" id="forgot_pswd" disabled>Create an
          account.</a></p>
    </form>
    <br>
  </div>
</div>