<div *ngIf="control" class="form-group position-relative">
  <app-reactive-label [fieldId]="fieldId"
                      [label]="label"
                      [hasRequiredIndicator]="hasRequiredIndicator"
                      [tooltipMessage]="tooltipMessage">
  </app-reactive-label>
  <nz-form-control [nzValidateStatus]="validationErrors ? 'error' : null">
    <nz-date-picker [id]="fieldId"
                    [formControl]="control"
                    [nzClassName]="'w-100'">
    </nz-date-picker>
  </nz-form-control>
  <app-validation-message [validationErrors]="validationErrors"></app-validation-message>
  <app-reactive-am-sub-label [subLabel]="subLabel"></app-reactive-am-sub-label>
</div>
