nz-header {
  background: #fff;
  padding: 0;
}

nz-breadcrumb {
  margin: 10px 16px;
}

nz-content {
  margin: 0 16px;
}

nz-footer {
  text-align: center;
}

nz-sider {
  min-height: 100vh;
}

.layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

.mobile-sider {
  position: absolute;
}
