<nz-layout class="layout">
  <nz-sider nzCollapsible
            [nzCollapsedWidth]="isMobile ? 0 : 80"
            [ngClass]="{'mobile-sider': isMobile}"
            [nzCollapsed]="isCollapsed"
            (nzCollapsedChange)="onCollapseChange($event)">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        (nzClick)="onClick()">
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/dashboard']">
          <i nz-icon nzType="dashboard"></i>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/savings']">
          <i nz-icon nzType="file"></i>
          <span *ngIf="!isCollapsed">Savings</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content class="position-relative p-3">
      <router-outlet></router-outlet>
      <app-spinner></app-spinner>
    </nz-content>
    <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
