<div class="d-flex mb-2">
  <button nz-button nzType="primary" nzSize="small"
          nz-tooltip nzTitle="Add new item"
          class="ml-auto"
          (click)="isAddModalVisible = true">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
  </button>
  <nz-radio-group nz-tooltip nzTitle="Items number on a page"
                  nzSize="small" nzButtonStyle="solid"
                  class="ml-2"
                  [(ngModel)]="pageSize">
    <label *ngFor="let quantity of [10, 20, 50, 100]"
           nz-radio-button
           [nzValue]="quantity"
           (click)="paginationHandle(true)">{{quantity}}
    </label>
  </nz-radio-group>
  <app-settings-list [(settingsList)]="settingsList"></app-settings-list>
</div>
<nz-table *ngIf="settingsList else noDataTmp"
          nzSize="small" nzBordered nzNoResult="No data"
          nzHideOnSinglePage="true"
          [nzScroll]="{ x: '100px' }"
          [nzData]="listOfSortedFilteredData"
          [(nzPageIndex)]="curPage"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="paginationHandle(false, $event)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
  <tr>
    <th *ngIf="hasIdNavigation" nzLeft="0px" nzWidth="1%" class="text-center"></th>
    <ng-container *ngFor="let settingItem of settingsList">
      <th *ngIf="settingItem['isShown']"
          class="text-{{settingItem.align}}"
          [nzWidth]="settingItem.width+ '%'"
          [nzShowSort]="headers[settingItem.id]['isSortable']"
          [nzSortKey]="settingItem.id"> {{headers[settingItem.id].label}}
        <div *ngIf="headers[settingItem.id].filter" class="filter-icon-position">
          <ng-container [ngSwitch]="headers[settingItem.id].filter.type">
            <app-filter-list *ngSwitchCase="'list'"
                             [filterOptions]="headers[settingItem.id]['filter']['list']"
                             (filterList)="onFilter(settingItem.id, $event, 'list')">
            </app-filter-list>
            <app-filter-date-range *ngSwitchCase="'date-range'"
                                   (dateRangeList)="onFilter(settingItem.id, $event, 'date-range')">
            </app-filter-date-range>
            <app-filter-search-text *ngSwitchCase="'text-search'"
                                    [placeholder]="headers[settingItem.id]['filter']['placeholder']"
                                    (searchList)="onFilter(settingItem.id, $event, 'search-text')">
            </app-filter-search-text>
          </ng-container>
        </div>
      </th>
    </ng-container>
    <th nzWidth="1%" class="text-center">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of listOfDisplayData">
    <td *ngIf="hasIdNavigation"
        nzLeft="0px" class="cursor-pointer"
        [routerLink]="[item['id']]">
      <i class="icon-share-alt"></i>
    </td>
    <ng-container *ngFor="let settingItem of settingsList">
      <td *ngIf="settingItem['isShown']" class="text-{{settingItem.align}}">
        <ng-container [ngSwitch]="headers[settingItem.id].type">
          <ng-container *ngSwitchCase="'date'">{{item[settingItem.id] | date: 'shortDate'}}</ng-container>
          <ng-container *ngSwitchCase="'rounded-number'">{{item[settingItem.id] | numberToFixed: 2}}</ng-container>
          <ng-container *ngSwitchCase="'rubles'">
            {{item[settingItem.id] | currency:'RUB':'symbol':'4.2-2':'ru'}}
          </ng-container>
          <ng-container *ngSwitchDefault>{{item[settingItem.id]}}</ng-container>
        </ng-container>
      </td>
    </ng-container>
    <td class="text-center">
      <i nz-icon nzType="edit" nzTheme="outline" class="cursor-pointer"
         (click)="editItem(item)">
      </i>
      <nz-divider nzType="vertical"></nz-divider>
      <i nz-icon nzType="delete" nzTheme="outline" class="cursor-pointer"
         (click)="deleteItem(item)">
      </i>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-modal nzTitle="Item menu"
          [nzStyle]="{top: '20px'}"
          [nzBodyStyle]="{'overflow-y': 'auto', 'height': '470px'}"
          [nzWidth]="500"
          [(nzVisible)]="isAddModalVisible"
          (nzOnCancel)="isAddModalVisible = false"
          (nzOnOk)="isAddEditSubmitted = true">
  <app-reactive-fields-list *ngIf="isAddModalVisible"
                            [fieldsList]="addEditForm"
                            [(isSubmitted)]="isAddEditSubmitted"
                            (onValidForm)="onAddEditItem($event)">
  </app-reactive-fields-list>
</nz-modal>
<ng-template #noDataTmp>
  <p class="text-center text-warning">
    <i class="fa fa-clock-o mr-1"></i> No data to display
  </p>
</ng-template>
