<div class="d-flex flex-row-reverse mb-2">
  <app-settings-list [(settingsList)]="settingsList"></app-settings-list>
  <nz-radio-group nz-tooltip nzTitle="Items number on a page"
                  nzSize="small" nzButtonStyle="solid"
                  [(ngModel)]="pageSize">
    <label nz-radio-button [nzValue]="10" (click)="paginationHandle(true)">10</label>
    <label nz-radio-button [nzValue]="20" (click)="paginationHandle(true)">20</label>
    <label nz-radio-button [nzValue]="50" (click)="paginationHandle(true)">50</label>
    <label nz-radio-button [nzValue]="100" (click)="paginationHandle(true)">100</label>
  </nz-radio-group>
</div>
<nz-table *ngIf="settingsList else noDataTmp"
          nzSize="small" nzBordered nzNoResult="No data"
          nzHideOnSinglePage="true"
          [nzScroll]="{ x: '100px' }"
          [nzData]="listOfSortedFilteredData"
          [(nzPageIndex)]="curPage"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="paginationHandle(false, $event)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
  <tr>
    <th *ngIf="hasIdNavigation" nzLeft="0px" nzWidth="1%" class="text-center"></th>
    <ng-container *ngFor="let settingItem of settingsList">
      <th *ngIf="settingItem['isShown']"
          class="text-{{settingItem.align}}"
          [nzWidth]="settingItem.width+ '%'"
          [nzShowSort]="headers[settingItem.id]['isSortable']"
          [nzSortKey]="settingItem.id"> {{headers[settingItem.id].label}}
        <div *ngIf="headers[settingItem.id].filter" class="filter-icon-position">
          <ng-container [ngSwitch]="headers[settingItem.id].filter.type">
            <app-filter-list *ngSwitchCase="'list'"
                             [filterOptions]="headers[settingItem.id]['filter']['list']"
                             (filterList)="onFilter(settingItem.id, $event, 'list')">
            </app-filter-list>
            <app-filter-date-range *ngSwitchCase="'date-range'"
                                   (dateRangeList)="onFilter(settingItem.id, $event, 'date-range')">
            </app-filter-date-range>
            <app-filter-search-text *ngSwitchCase="'text-search'"
                                    [placeholder]="headers[settingItem.id]['filter']['placeholder']"
                                    (searchList)="onFilter(settingItem.id, $event, 'search-text')">
            </app-filter-search-text>
          </ng-container>
        </div>
      </th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of listOfDisplayData">
    <td *ngIf="hasIdNavigation"
        nzLeft="0px" class="cursor-pointer"
        [routerLink]="[item['id']]">
      <i class="icon-share-alt"></i>
    </td>
    <ng-container *ngFor="let settingItem of settingsList">
      <td *ngIf="settingItem['isShown']" class="text-{{settingItem.align}}">
        <ng-container [ngSwitch]="headers[settingItem.id].type">
          <ng-container *ngSwitchCase="'seconds'">{{item[settingItem.id] * 1000 | date: 'shortDate'}}</ng-container>
          <ng-container *ngSwitchCase="'date'">{{item[settingItem.id] | date: 'shortDate'}}</ng-container>
          <ng-container *ngSwitchCase="'rounded-number'">{{item[settingItem.id] | numberToFixed: 2}}</ng-container>
          <ng-container *ngSwitchCase="'rubles'">
            {{item[settingItem.id] | currency:'RUB':'symbol':'4.2-2':'ru'}}
          </ng-container>
          <ng-container *ngSwitchDefault>{{item[settingItem.id]}}</ng-container>
        </ng-container>
      </td>
    </ng-container>
  </tr>
  </tbody>
</nz-table>


<ng-template #noDataTmp>
  <p class="text-center text-warning">
    <i class="fa fa-clock-o mr-1"></i> No data to display
  </p>
</ng-template>
