.filter-icon-position {
  height: 100%;
  position: absolute !important;
  width: 20px;
  top: 0;
  right: 0;
}

.text-link {
  text-decoration: underline;
}

.text-link:hover {
  text-decoration: none;
}
