<div class="animated fadeIn overflow-hidden">

  <div class="mx-auto border my-5 login-form">
    <h3 class="text-center font-weight-normal mb-3"> Sign in to Nest Egg </h3>
    <button nz-button nzType="default"
            class="w-100 mb-4"
            (click)="tryFacebookLogin()">
      <i nz-icon nzType="facebook" nzTheme="outline"></i> Sign in with Facebook
    </button>
    <p class="text-center text-muted"> OR </p>
    <ng-container [ngTemplateOutlet]="loginFormTmp"></ng-container>
  </div>

</div>


<ng-template #loginFormTmp>
  <form autocomplete="off" class="mb-3"
        [formGroup]="loginForm">
    <app-reactive-input fieldId="userName" label="Username" icon="user"
                        [control]="loginForm.get('userName')">
    </app-reactive-input>
    <app-reactive-input fieldId="password" label="Password" icon="lock"
                        tooltipMessage="Password must be at least 8 characters long, be of mixed case and also contain a digit or symbol. "
                        [control]="loginForm.get('password')">
    </app-reactive-input>
    <app-reactive-check-box fieldId="isRemembered" label="Remember me"
                            [control]="loginForm.get('isRemembered')">
    </app-reactive-check-box>
    <button nz-button nzType="primary"
            class="w-100"
            (click)="onSubmit()"> Sign in
    </button>
  </form>
  <div class="d-flex justify-content-between">
    <a href="#">Sign up</a>
    <a href="#">Forgot password</a>
  </div>
</ng-template>
